﻿@model eShopSolution.ViewModels.System.Users.UserVm

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align: center; margin-top: 20px; color: #333;">User Detail</h1>

<div class="container">
    <table class="table">

        <tr>
            <th style="width: 30%; color: #333;">@Html.DisplayNameFor(model => model.FirstName)</th>
            <td>@Html.DisplayFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <th style="width: 30%; color: #333;">@Html.DisplayNameFor(model => model.LastName)</th>
            <td>@Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <th style="width: 30%; color: #333;">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
        </tr>
        <tr>
            <th style="width: 30%; color: #333;">@Html.DisplayNameFor(model => model.UserName)</th>
            <td>@Html.DisplayFor(model => model.UserName)</td>
        </tr>
        <tr>
            <th style="width: 30%; color: #333;">@Html.DisplayNameFor(model => model.Email)</th>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <th style="width: 30%; color: #333;">@Html.DisplayNameFor(model => model.Dob)</th>
            <td>@Html.DisplayFor(model => model.Dob)</td>
        </tr>
    </table>
</div>
<div style="text-align: center; margin-top: 20px;">
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-primary" })
</div>
