﻿@using System.Globalization
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@section scripts{
    <script src="~/js/cart.js"></script>
    <script>
        var cartController = new CartController();
        cartController.initialize();
    </script>
}

@section links{
    <link href="/themes/css/cart.css" rel="stylesheet" />
}

    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active"> SHOPPING CART</li>
    </ul>

    <h3>
        SHOPPING CART [ <small><span id="lbl_number_of_items">0</span> Item(s) </small>]
        <a href="/" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a>
    </h3>

    <hr class="soft" />

    <table class="table table-bordered" id="tbl_cart">
        <thead>
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Quantity/Update</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody id="cart_body">
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align:right"><strong>TOTAL =</strong></td>
                <td class="label label-important" style="display:block"> <strong> <span id="lbl_total"></span> </strong></td>
            </tr>
        </tfoot>
    </table>

    <a href="/" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
    <a href="/@culture/Cart/Checkout" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>