﻿@model HomeViewModel
@using System.Globalization
@using eShopSolution.ViewModels.Catalog.Products;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@{
    ViewData["Title"] = "Home Page";
}
@section slider{
    <div id="carouselBlk">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                @for (int index = 0; index < Model.Slides.Count; index++)
                {
                    var slide = Model.Slides[index];
                    <div class="item @(index == 0?"active":"")">
                        <div class="container">
                            <a href="@slide.Url"><img style="width:100%; aspect-ratio:39/16" src="@slide.Image" alt="@slide.Name" /></a>
                            <div class="carousel-caption">
                                <h4>@slide.Name</h4>
                                <p>@slide.Description</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width: 52px; height: 52px">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="width: 52px; height: 52px">&rsaquo;</a>
        </div>
    </div>
}
<div class="well well-small">
    <h4><localize>Featured Products</localize></h4>
    <div class="row-fluid">
        <div id="featured" class="carousel slide">
            <div class="carousel-inner">
                @{
                    List<List<ProductVm>> featuredProducts = new List<List<ProductVm>>();
                    List<ProductVm> featuredPart = new List<ProductVm>();
                }

                @for (int index = 0; index < Model.FeaturedProducts.Count; index++)
                {
                    featuredPart.Add(Model.FeaturedProducts[index]);
                    if (featuredPart.Count == 4 || Model.FeaturedProducts.Count < 4)
                    {
                        featuredProducts.Add(featuredPart);
                        featuredPart = new List<ProductVm>();
                    }

                }
                @for (int index = 0; index < featuredProducts.Count; index++)
                {


                    @for (int item = 0; item < featuredProducts[index].Count; item++)
                    {
                        var url = $"/{culture}/{_loc["productUrl"]}/{featuredProducts[index][item].Id}";
                        <div class="item @(item == 0?"active":"")" style="width: 60%; margin: auto">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <i class="tag"></i>
                                        <a href="@url"><img src="@(Configuration["BaseAddress"] + featuredProducts[index][item].ThumbnailImage)" alt="@featuredProducts[index][item].Name" style="border-radius: 4px; width:312px; height: 280px; max-height: 280px !important"></a>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="caption">
                                            <h5>@featuredProducts[index][item].Name</h5>
                                            <h4><a class="btn" href="@url" localize-content>VIEW</a> </h4>
                                            <h4 style="color:red; font-weight:bold">@featuredProducts[index][item].Price.ToString()</h4>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    }


                }
            </div>
            <a class="left carousel-control" href="#featured" data-slide="prev" style="width: 50px; height: 50px;">‹</a>
            <a class="right carousel-control" href="#featured" data-slide="next" style="width: 50px; height: 50px;">›</a>
        </div>
    </div>
</div>
<h4 localize-content>Latest Products</h4>
<ul class="thumbnails">
    @foreach (var item in Model.LatestProducts)
    {
        var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
        <li class="span3">
            <div class="thumbnail">
                <a href="@url"><img src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name" style="border-top-left-radius: 4px; border-top-right-radius: 4px; height: 260px !important; object-fit: cover" /></a>
                <div class="caption">
                    <h5>@item.Name</h5>
                    <p>
                        @item.Description
                    </p>

                    <h4 style="text-align:center">
                        <a class="btn" href="@url">
                            <i class="icon-zoom-in"></i>
                        </a> <a class="btn btn-add-cart" data-id="@item.Id" href="#"><localize>Add to</localize> <i class="icon-shopping-cart"></i></a>
                        <a class="btn btn-primary" href="#">@item.Price</a>
                    </h4>
                </div>
            </div>
        </li>
    }
</ul>