﻿@using System.Globalization
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewData["Description"]">
    <meta name="author" content="">
    <!--Less styles -->
    <!-- Other Less css file //different less files has different color scheam
     <link rel="stylesheet/less" type="text/css" href="/themes/less/simplex.less">
     <link rel="stylesheet/less" type="text/css" href="/themes/less/classified.less">
     <link rel="stylesheet/less" type="text/css" href="/themes/less/amelia.less">  MOVE DOWN TO activate
     -->
    <!--<link rel="stylesheet/less" type="text/css" href="/themes/less/bootshop.less">
    <script src="/themes/js/less.js" type="text/javascript"></script> -->
    <!-- Bootstrap style -->
    <link id="callCss" rel="stylesheet" href="/themes/bootshop/bootstrap.min.css" media="screen" />
    <link href="/themes/css/base.css" rel="stylesheet" media="screen" />
    <!-- Bootstrap style responsive -->
    <link href="/themes/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/themes/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- Google-code-prettify -->
    <link href="/themes/js/google-code-prettify/prettify.css" rel="stylesheet" />
    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/flowershop-339a3.appspot.com/o/logo-color.png?alt=media&token=a78cec4a-59d4-4803-96fe-9ead9a2a86de">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/themes/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/themes/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/themes/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/themes/images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-XXzmvVRqRkMghjHzEqh7NqzC4BxmMUrQz9Tm8/a6uzTDsS9rSFKF/jOoq3b01GnEzyP+8W8nmLr2BysAm3mL+w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style type="text/css" id="enject"></style>

    <link href="~/css/chat.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <input type="hidden" id="hidCulture" value="@culture" />
    <input type="hidden" id="hidBaseAddress" value="@Configuration["BaseAddress"]" />
    <div id="header">
        <div class="container">
            <div id="welcomeLine" class="row" style="flex-wrap: nowrap !important">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Details" asp-controller="User" class="span6">Welcome!<strong> @User.Identity.Name</strong></a>
                }
                else
                {
                    <div class="span6">Welcome!<strong> Guest!</strong></div>
                }
                <div class="span6">
                    <div class="pull-right">
                        <language-nav language-label="NativeName"
                                      cookie-handler-url="@(Url.Action("SetCultureCookie", "Home", new { area= "", cltr="{0}", returnUrl="{1}" }))">
                        </language-nav>

                        <a href="/@culture/cart">
                            <span class="btn btn-mini btn-primary">
                                <i class="icon-shopping-cart icon-white"></i> [ <span id="lbl_number_items_header">0</span> ] Itemes in your cart
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Navbar ================================================== -->
            <div id="logoArea" class="navbar" style="display:block !important; padding:0 !important">
                <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-inner" style="background-color:lightpink; background-image:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,112,0.3) 35%, rgba(0,212,255,1) 100%); display: flex; align-items:center">
                    <a class="brand" href="/"><img src="/themes/images/logo.png" alt="Bootsshop" style="width:100px" /></a>
                    <form class="form-inline navbar-search" method="post" action="products.html">
                        <input id="srchFld" class="srchTxt" type="text" style="height:30px; border-radius: 16px; margin-right: 8px" />
                        <select class="srchTxt" style="border-radius: 16px; padding: 3px; margin-right: 8px">
                            <option>All</option>
                            <option>Love Flower </option>
                            <option>Congratulation Flower </option>
                            <option>Condolence Flower </option>
                            <option>Birthday Flower </option>
                        </select>
                        <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
                    </form>
                    <ul id="topMenu" class="nav pull-right">
                        <li class=""><a asp-route-culture="@culture" localize-content>Specials Offer</a></li>
                        <li class=""><a asp-route-culture="@culture" localize-content>Delivery</a></li>
                        <li class=""><a asp-route-culture="@culture" localize-content>Contact</a></li>
                        <li class="">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form action="/@culture/Account/Logout" method="post">
                                    <button type="submit" style="padding-right:0;margin-top:10px;margin-bottom:0px;background:transparent;border:none;">
                                        <span class="btn btn-large btn-success"><localize>Logout</localize></span>
                                    </button>
                                </form>
                            }
                            else
                            {
                                <a href="/@culture/Account/Login" style="padding-right:0">
                                    <span class="btn btn-large btn-success"><localize>Login</localize></span>
                                </a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End====================================================================== -->
    @RenderSection("slider", required: false)
    <div id="mainBody">
        <div class="container">
            <div class="row" style="flex-wrap: nowrap; margin-right: 0px; margin-left: -30px">
                <!-- Sidebar ================================================== -->
                @await Component.InvokeAsync("SideBar")
                <!-- Sidebar end=============================================== -->
                <div class="">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- Footer ================================================================== -->
    <div class="container my-5">
        @*chat box*@
        <div class="chatbox">
            <div class="chatbox__support"
                 style="position: fixed; right: 30px; bottom: 50px;">
                <div class="chatbox__header">
                    <div class="chatbox__content--header">
                        <h4 class="chatbox__heading--header">Chat support</h4>
                    </div>
                </div>
                <div class="container">
                    <div style="display:flex">
                        <div>User</div>
                        <div><input style="width:50%;height:24px;margin-left:2rem" type="text" id="userInput" /></div>
                    </div>
                    <div style="display:flex">
                        <div>Message</div>
                        <div><textarea style="width:100%;height:72px;" id="messageInput" rows="4" cols="50" name="messageInput"></textarea></div>
                    </div>
                    <div style="display:flex">
                        <div style="margin-left:12rem">
                            <input class="btn btn-danger" type="button" id="sendButton" value="Send Message" />
                        </div>
                    </div>
                    <div>
                        <div>
                            <hr />
                        </div>
                    </div>
                    <div>
                        <div>
                            <ul style="width:90%" id="messagesList"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position:fixed;bottom:17px;right:41px" class="chatbox__button">
            <button style="position:relative" class="chatbox_icon">
                Chat
            </button>
        </div>
        @*================================*@
        <footer class="text-center text-lg-start" style="background-color: lightpink;">
            <div class="container d-flex justify-content-center py-5">
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                    <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                    <i class="fab fa-youtube"></i>
                </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                    <i class="fab fa-instagram"></i>
                </button>
                <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
                    <i class="fab fa-twitter"></i>
                </button>
            </div>

            <!-- Copyright -->
            <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                Â© Happiness radiates like the fragrance from a flower and draws all good things towards you.

            </div>
            <!-- Copyright -->
        </footer>

    </div>
    <!-- Placed at the end of the document so the pages load faster ============================================= -->
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chatUI.js"></script>
    <script src="~/js/chat.js"></script>

    <script src="~/js/app.js"></script>
    <script src="/themes/js/jquery.js" type="text/javascript"></script>
    <script src="/themes/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/themes/js/google-code-prettify/prettify.js"></script>

    <script src="/themes/js/bootshop.js"></script>
    <script src="/themes/js/jquery.lightbox-0.5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/signalr/5.0.12/signalr.min.js%22%3E</script>
    <script src="/js/site.js"></script>

    <script>
        var site = new SiteController();
        site.initialize();
    </script>
    @RenderSection("scripts", required: false)

    @RenderSection("links", required: false)

    <!-- Themes switcher section ============================================================================================= -->
    <div id="secectionBox">
        <link rel="stylesheet" href="/themes/switch/themeswitch.css" type="text/css" media="screen" />
        <script src="/themes/switch/theamswitcher.js" type="text/javascript" charset="utf-8"></script>
        <div id="themeContainer">
            <div id="hideme" class="themeTitle">Style Selector</div>
            <div class="themeName">Oregional Skin</div>
            <div class="images style">
                <a href="/themes/css/#" name="bootshop"><img src="/themes/switch/images/clr/bootshop.png" alt="bootstrap business templates" class="active"></a>
                <a href="/themes/css/#" name="businessltd"><img src="/themes/switch/images/clr/businessltd.png" alt="bootstrap business templates" class="active"></a>
            </div>
            <div class="themeName">Bootswatch Skins (11)</div>
            <div class="images style">
                <a href="/themes/css/#" name="amelia" title="Amelia"><img src="/themes/switch/images/clr/amelia.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="spruce" title="Spruce"><img src="/themes/switch/images/clr/spruce.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="superhero" title="Superhero"><img src="/themes/switch/images/clr/superhero.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="cyborg"><img src="/themes/switch/images/clr/cyborg.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="cerulean"><img src="/themes/switch/images/clr/cerulean.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="journal"><img src="/themes/switch/images/clr/journal.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="readable"><img src="/themes/switch/images/clr/readable.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="simplex"><img src="/themes/switch/images/clr/simplex.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="slate"><img src="/themes/switch/images/clr/slate.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="spacelab"><img src="/themes/switch/images/clr/spacelab.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="united"><img src="/themes/switch/images/clr/united.png" alt="bootstrap business templates"></a>
                <p style="margin:0;line-height:normal;margin-left:-10px;display:none;"><small>These are just examples and you can build your own color scheme in the backend.</small></p>
            </div>
            <div class="themeName">Background Patterns </div>
            <div class="images patterns">
                <a href="/themes/css/#" name="pattern1"><img src="/themes/switch/images/pattern/pattern1.png" alt="bootstrap business templates" class="active"></a>
                <a href="/themes/css/#" name="pattern2"><img src="/themes/switch/images/pattern/pattern2.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern3"><img src="/themes/switch/images/pattern/pattern3.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern4"><img src="/themes/switch/images/pattern/pattern4.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern5"><img src="/themes/switch/images/pattern/pattern5.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern6"><img src="/themes/switch/images/pattern/pattern6.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern7"><img src="/themes/switch/images/pattern/pattern7.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern8"><img src="/themes/switch/images/pattern/pattern8.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern9"><img src="/themes/switch/images/pattern/pattern9.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern10"><img src="/themes/switch/images/pattern/pattern10.png" alt="bootstrap business templates"></a>

                <a href="/themes/css/#" name="pattern11"><img src="/themes/switch/images/pattern/pattern11.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern12"><img src="/themes/switch/images/pattern/pattern12.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern13"><img src="/themes/switch/images/pattern/pattern13.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern14"><img src="/themes/switch/images/pattern/pattern14.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern15"><img src="/themes/switch/images/pattern/pattern15.png" alt="bootstrap business templates"></a>

                <a href="/themes/css/#" name="pattern16"><img src="/themes/switch/images/pattern/pattern16.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern17"><img src="/themes/switch/images/pattern/pattern17.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern18"><img src="/themes/switch/images/pattern/pattern18.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern19"><img src="/themes/switch/images/pattern/pattern19.png" alt="bootstrap business templates"></a>
                <a href="/themes/css/#" name="pattern20"><img src="/themes/switch/images/pattern/pattern20.png" alt="bootstrap business templates"></a>
            </div>
        </div>
    </div>
    <span id="/themesBtn"></span>
</body>
</html>